@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-rounded {
    @apply p-2 px-4 rounded-md 
    ring-2 ring-transparent ring-offset-amber-400 ring-offset-2 
    dark:active:ring-amber-400 active:ring-slate-500;
  }

  .bg-gradient-dotted {
    background: radial-gradient(1px, var(--tw-gradient-stops));
    background-size: 16px 16px;
    @apply bg-repeat;
  }
}
